<div class="row row-cols-1 row-cols-md-2 g-4 m-2">
  <div class="col" *ngFor="let personaje of datosPersonaje">
    <div class="card">
      <img src={{personaje.image}} class="card-img-top img-fluid" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{personaje.name}}</h5>
        <p class="card-text"></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Genero: {{personaje.gender}}</li>
        <li class="list-group-item">Especie: {{personaje.species}} </li>
        <li class="list-group-item">Status: {{personaje.status}}</li>
      </ul>
    </div>
    <a href="" target="_blank" class="btn btn-primary btn-block mt-3">+ Info</a>
  </div>
</div>
